
@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about me</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="assets/img/pic of me (3).jpeg" class="img-fluid" alt="Will">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Web Developer</h3>
                <p class="fst-italic">
                    Thanks for visiting my personal site! On this page, you'll find more information about me. Check out the other tabs to see my technical training,
                    a portfolio of projects I've done that showcase my programming abilities, my resume, and more.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>September 16, 1996</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kansas City, MO</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Personal Website:</strong> <span>https://willmarch.net</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>GitHub: </strong> <span>https://github.com/willmarch1</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>willmarch11@hotmail.com</span></li>
                            <!-- <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>(816)-745-2314</span></li> -->
                            <!--<li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>-->
                        </ul>
                    </div>
                </div>
                <p>
                    Hey there! I'm Will, and this is my personally programmed website. This website was engineered so you, the visitor, can learn more about me. I'm 26 years old
                    and currently reside in Kansas City, MO. Like you learned from my home page, the more I program, the more my passion for it grows. My technical experience comes from
                    Centriq, where my anticipated graduated date is May 19, 2023. I'm eager to learn something new about programming everyday, so I'm looking forward to the professional
                    field of web development. Continue on with the site to see my resume, a portfolio with my programming projects, and learn how to get in contact with me!
                </p>
            </div>
        </div>

    </div><!-- End About Me -->


</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Will March</p>

        </div>
        <p><a href="forms/Will March - FINAL Resume IT.pdf" target="_blank">Click here to download a PDF version of my resume.</a></p>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>FULL STACK DEVELOPER</h4>

                    <ul>
                        <li>.NET Core MVC Framework</li>
                        <li>Full Stack Web Application Design</li>
                        <li>C# Fundamentals</li>
                        <li>JavaScript</li>
                        <li>Database Management</li>
                        <li>Unit Testing</li>
                        <li>Software Development Lifecycle</li>
                        <li>Agile Scrum Methodology</li>
                    </ul>
                    </p>
                </div>
                <h3 class="resume-title">Technical and Professional Skills</h3>
                <div class="resume-item">
                    <ul>
                        <li><strong>Front End:</strong> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                        <li><strong>Middle Tier:</strong>  C#, .NET Core MVC, LINQ, EF, Razor Pages</li>
                        <li><strong>Back End:</strong>  ADO.NET, SQL, SQL Server</li>
                        <li><strong>Tools:</strong>  Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</li>
                        <li><strong>Professional Skills:</strong> Organization, Troubleshooting, Communication, Effectiveness, Punctuality, Critical Thinking, Work Ethic</li>
                    </ul>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Missouri State University | Springfield, MO</h4>
                    <p>Bachelor of Science: Exercise & Movement Science</p>
                    <h5>May, 2021</h5>

                </div>
                <div class="resume-item">
                    <h4>Kansas City Kansas Community College</h4>
                    <p>Associates of Business</p>
                    <h5>May, 2017</h5>
                </div>


            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Work Experience</h3>
                <div class="resume-item">
                    <h4>Reverse Logistics Processor</h4>
                    <h5>05/2022 - 02/2023</h5>
                    <p><em>Garmin | Olathe, KS</em></p>
                    <p>
                        <ul>
                            <li>Specialize in marine electronic technology repair.</li>
                            <li>Inspect and troubleshoot marine products to determine root cause of defection and reason the repair is needed.</li>
                            <li>Disassemble product to replace defective parts including processor boards, transducers, motors and antennas.</li>
                            <li>Reassemble product with new parts and re-test to ensure product is fully functional.</li>
                            <li>Track progress in a database to complete the task with utmost organization.</li>
                            <li>Coordinate with team members to ensure product is received, inspected, repaired, and shipped back out to the customer within two business days.</li>
                            <li>Maintain flexibility to cover other areas of the department/warehouse as needed.</li>
                            <li>Uphold safety regulations and standards per ordinance.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Outbound Warehouse Associate</h4>
                    <h5>11/2021 - 05/2022</h5>
                    <p><em>Walmart | Edgerton, KS</em></p>
                    <p>
                        <ul>
                            <li>Prepare orders for shipment by systematically picking, packing and labeling merchandise.</li>
                            <li>Maintain merchandise shipping rate of 82 units/hr. </li>
                            <li>Inspect outgoing shipments to verify accuracy and prevent errors.</li>
                            <li>Troubleshoot operation productivity in order to meet shipping rate including keeping work area fully stocked, unjamming conveyor belts, and fixing packing machines.</li>
                            <li>Uphold safety regulations and standards per ordinance.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Warehouse Associate</h4>
                    <h5>04/2021 - 11/2021</h5>
                    <p><em>Amazon | Shawnee, KS</em></p>
                    <p>
                        <ul>
                            <li>Place and organize packages into bags to be prepared for shipping.</li>
                            <li>Maintain individual rate of package processing at 300/hr.</li>
                            <li>Oversee new associates in section to achieve warehouse-wide package processing rate.</li>
                            <li>Responsible for fielding questions for teammates in specific sections.</li>
                            <li>Pick and place bags on cart and move to designated area for drivers to begin shipping process in under 12 minutes per route.</li>
                            <li>Uphold safety regulations and standards per ordinance.</li>

                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Personal Projects Portfolio</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-android"></i></div>
                    <h4><a href="https://github.com/willmarch1/DungeonApplication" target="_blank">Dungeon Crawler</a></h4>
                    <p>During my time at Centriq, we were required to program a dungeon crawler game using C#. The Dungeon Application is intended to showcase my C# skills. It allowed me to demonstrate my ability to break down multi-stage processes into steps and to design complex logical structures.  Check it out on my GitHub!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Project 2 Placeholder</a></h4>
                    <p>SQL Badge Project Description placeholder</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Project 3 Placeholder</a></h4>
                    <p>.NET MVC Core Badge Project Description placeholder</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Project 4 Placeholder</a></h4>
                    <p>Restful API Badge Project Description placeholder</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Project 5 Placeholder</a></h4>
                    <p>JS Developer Badge Project Description placeholder</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Project 6 Placeholder</a></h4>
                    <p>Project 6 placeholder</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Classmates Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Classmates</h2>
            <p>Meet My Classmates</p>
        </div>



        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/brodi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Brodi Shrout</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://www.brodishrout.com/" target="_blank" title="Brodi's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/brodi-shrout-8223a8266/" target="_blank" title="Brodi's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/jared.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Jared Alcala</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://jaredalcala.com" target="_blank" title="Jared's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/jared-alcala-667806260/" target="_blank" title="Jared's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/efrain.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Efrain Santiago</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://www.santiagoefrain.com" target="_blank" title="Efrain's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/efrain-santiago-b373a0268/" target="_blank" title="Efrain's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/jason.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Jason Pinkston</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://jpinkston.com/" target="_blank" title="Jason's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/jason-pinkston-48224243/" target="_blank" title="Jason's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/luke.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Luke Kelley</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://lucasjkelley.com" target="_blank" title="Luke's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/lucasjkelley/" target="_blank" title="Luke's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/steve.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Steve Rogers</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="https://sdrogers.net/" target="_blank" title="Steve's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/steve-rogers-b2427679/" target="_blank" title="Steve's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/tanner.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Tanner Hulett</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://tannerhulett.com" target="_blank" title="Tanner's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/tanner-hulett-4a8555264/" target="_blank" title="Tanner's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/kellan.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Kellan Campbell</h4>
                        <p></p>
                        <div class="portfolio-links">
                            <a href="http://www.kellancampbell.com" target="_blank" title="Kellan's Personal Site"><i class="bx bx-link"></i></a>
                            <a href="https://www.linkedin.com/in/kellan-campbell-084227267" target="_blank" title="Kellan's LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
@model PersonalSiteConversion.Models.ContactViewModel
<section id="contact" class="contact">
    <div class="container">

        @*!STEP 10 - Display the success message, if one exists*@
        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                @Html.Raw(ViewBag.Success)
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @*!STEP 11 - Display the error message, if one exists*@
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                @Html.Raw(ViewBag.ErrorMessage)
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Connect with me on LinkedIn</h3>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/willmarch" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>willmarch11@hotmail.com</p>
                </div>
            </div>

            <form asp-action="Contact" class="email-form mt-4">
                <p>Please reach out to me by filling out the form below!</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input asp-for="Name" class="form-control" placeholder="Your Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input asp-for="Email" class="form-control" placeholder="Your Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input asp-for="Subject" class="form-control" placeholder="Subject">
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 text-center">
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
            </form>
        </div>

    </div>
</section><!-- End Contact Section -->


@section Scripts {
    @*Add the jquery library here*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
